* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0704;
}

h1 {
    font-family: 'Potta One', cursive;
    color: #0f0704;
}

h3 {
    font-family: 'Staatliches', cursive;
    color: #0f0704;
    font-size: 1.70rem;
}

p {
    font-family: 'JetBrains Mono', monospace;
    color: #0f0704;
}

ul {
    font-family: 'JetBrains Mono', monospace;
    color: #0f0704;
}

button {
    padding: 15px 32px;
    border: none;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    color: #0F0704;
    background-color: #E96D1A;
    margin: 15px 4px;
    cursor: pointer;
}

/*
FONTS PARA USO
font-family: 'JetBrains Mono', monospace;
font-family: 'Potta One', cursive;
font-family: 'Staatliches', cursive;
*/

.box_portada {
    display: flex;
    justify-content: center;
}

.box_titulo {
    display: flex;
    padding: 15px;
    background-color: #E96D1A;
    justify-content: center;
}

.img_portada {
    width: 100%;
}

.box_abaout {
    display: inline-flex;
    background-color: #E96D1A;
}

.img_abaout {
    width: 50%;
}

.text_box_about {
    display: flex;
    flex-direction: column;
    padding: 5px 50px 5px 50px;
    justify-content: center;
}

.line {
    height: 5px;
    background-color: #0f0704;
    margin: 10px 0 10px 0;
    border-width: 0px;
}

.line_alt {
    height: 5px;
    background-color: #E96D1A;
    margin: 10px 0 10px 0;
    border-width: 0px;
}

.line_profile {
    height: 5px;
    background-color: #EBEBD3;
    margin: 10px 0 10px 0;
    border-width: 0px;
}

.box_links {
    display: inline-flex;
    margin: 0;
    padding: 0 0 20px 0;
    background-color: #0f0704;
}

.card {
    width: 25%;
    background-color: #0f0704;
}

.img_card {
    width: 100%;
}

.links_titulo {
    text-align: center;
    padding: 5px;
    color: #E96D1A;
}

.links_text {
    text-align: center;
    color: #EBEBD3;
    padding: 0 10px 0 10px;
}

.box_puv {
    display: inline-flex;
    background-color: #000000;
    align-items: center;
}

.img_puv {
    width: 37%;
}

.text_box_puv {
    padding: 5px 40px 5px 40px;    
}

.box_exhume {
    display: inline-flex;
    background-color: #efefef;
}

.text_box_exhume {
    padding: 5px 40px 5px 40px;
}

.box_patreon {
    display: inline-flex;
    background-color: #0f0704;
    align-items: center;
}

.text_box_patreon {
    padding: 5px 40px 5px 40px;
}

.h1_alt {
    color: #EBEBD3;
}

.h1_profile {
    color: #E96D1A;
}
.h1_titulos {
    font-family: 'Potta One', cursive;
    color: #0f0704;
    font-size: 3rem;
}

.p_alt {
    color: #EBEBD3;
}

.box_koboldcon {
    display: inline-flex;
/*    background-color: #EBEBD3;*/
    background-image: url(/img/bg_KC.jpg);
    background-position: center;
    align-items: center;
}


.box_profile {
    display: inline-flex;
    background-image: url(/img/profile_bg.jpg);
    background-position: center;
}

.img_profile {
    width: 50%;
}

.text_box_profile {
    padding: 5px 40px 5px 40px;
}
